# Dependencies
website/node_modules/

# Next.js build output
website/.next/

# Environment variables
website/.env
website/.env.local

website/storybook-static/**

# Editor
.vscode/

# OS
.DS_Store

# Misc
*.log


website/supabase/